---
export const prerender = true;

import Layout from '../../../../../layouts/Layout.astro';
import { url, v, uid, type } from "../../../../../utils/const";
// import {ProductOverviewsW0} from '../../../../../components/react/ProductOverviewsW0';
import {ProductOverviewsB0} from '../../../../../components/react/ProductOverviewsB0';
import { ProductOverviewsH0 } from '../../../../../components/react/ProductOverviewsH0';
import  ProductOverviewsW0  from '../../../../../components/ProductOverviewsW0.astro';
import type { Product } from "../../../../../interfaces/product";
import Main from '@layouts/Main.astro';
import Breadcrumbs from '@components/Breadcrumbs.astro';

// export const prerender = true;

export async function getStaticPaths() {
  const products:Product[] = await fetch(
    `${url}/api/${v}/${type}/query/products/product/siteId?id=${uid}`
    ).then((response) => response.json());
  
    return products.map((product) => ({ params: {  id: product._id, slug: product.slug }, props: {product}}));
}
const { product } = Astro.props;


// const product = await fetch(
//   `${url}/api/${v}/${type}/query/products/${params.id}`
// ).then((response) => response.json());
// console.log('product', product.data.tags)
---
<Layout title={product.data.name} description={product.data.description} ogImage={product.data.thumbnailUrl}>
	<Breadcrumbs paths={product.data.tags}/>
	<Main pageTitle={'Detalles del Producto'}>
		<ProductOverviewsH0 product={product} client:load />
		<!-- <ProductOverviewsW0 product={product} /> -->
		<!-- <ProductOverviewsW0 product={product} client:load /> -->
		<!-- <ProductOverviewsB0 product={product} client:load /> -->
	</Main>
</Layout>