---
import Layout from '../../../../../layouts/Layout.astro';
import { url, v, uid, type } from "../../../../../utils/const";
import {ProductOverviewsW0} from '../../../../../components/react/ProductOverviewsW0';
import {ProductOverviewsB0} from '../../../../../components/react/ProductOverviewsB0';
import { ProductOverviewsH0 } from '../../../../../components/react/ProductOverviewsH0';

const params = Astro.params;


const product = await fetch(
  `${url}/api/${v}/${type}/query/products/${params.id}`
).then((response) => response.json());

---
<Layout title={product.data.name} description={product.data.description} ogImage={product.data.thumbnailUrl}>
	<main>
		<!-- <ProductOverviewsW0 product={product} client:load /> -->
		<!-- <ProductOverviewsH0 product={product} client:load /> -->
		<ProductOverviewsB0 product={product} client:load />
	</main>
</Layout>