---
import type { Category } from "@interfaces/category";
import type { Page } from "@interfaces/page";
import { ButtonProductCart, ButtonProductView } from "./react/Button";
import type { Product } from "@interfaces/product";
import { Image, Picture } from '@astrojs/image/components';

interface Props {
  page:Page | Category
  products: Product[]
}

const {page, products } = Astro.props
// console.log('products2', products)
---

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 space-y-6">
  <div class="mx-auto max-w-2xl lg:max-w-none space-y-6">
    <div
      class="bg-gradient-to-r from-cris-dark via-cris-accent to-cris-dark text-center lg:py-10 md:py-8 py-6"
    >
      <p
        class="w-10/12 mx-auto md:w-full font-semibold lg:text-4xl text-3xl lg:leading-9 md:leading-7 leading-9 text-center text-cris-inverted"
      >
        {page.data.name}
      </p>
    </div>
    <p class="font-normal text-sm leading-3 text-gray-600 dark:text-gray-300">
      Home / Shop by Category / Women
    </p>
    <hr class="w-full bg-gray-200 my-6" />

    <div class="flex justify-between items-center">
      <div
        class="flex space-x-3 justify-center items-center text-gray-800 dark:text-white"
      >
        <img
          class="dark:hidden"
          src="https://tuk-cdn.s3.amazonaws.com/can-uploader/product-grid-5-svg1.svg"
          alt="toggler"
        />
        <img
          class="hidden dark:block"
          src="https://tuk-cdn.s3.amazonaws.com/can-uploader/product-grid-5-svg1dark.svg

"
          alt="toggler"
        />
        <p
          class="font-normal text-base leading-4 text-gray-800 dark:text-white"
        >
          Filter
        </p>
      </div>
      <p
        class="cursor-pointer hover:underline duration-100 font-normal text-base leading-4 text-gray-600 dark:text-gray-300"
      >
        Showing 18 products
      </p>
    </div>
    <div
      class="grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-y-12 lg:gap-x-8 sm:gap-y-10 sm:gap-x-6 gap-y-6 lg:mt-12 mt-10"
    >
      {
        products.map((product) => (
          <div class="relative group">
            <div class="absolute top-0 left-0 py-2 px-4 bg-white bg-opacity-50">
              <p class="text-xs leading-3 text-gray-800">New</p>
            </div>
            <div class="relative group">
              <div class="flex justify-center items-center opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full"></div>
              
              <img
                class="w-full"
                src={product.data.thumbnailUrl}
                alt="A girl Posing Image"
              />
              <div class="absolute bottom-0 p-8 w-full opacity-0 group-hover:opacity-100">
                <ButtonProductCart product={product} client:load />
                <ButtonProductView product={product} client:load />
              </div>
            </div>
            <p class="font-normal dark:text-white  leading-5 text-gray-800 md:mt-6 mt-4">
              {product.data.name}
            </p>
            <p class="font-semibold dark:text-gray-300 text-xl leading-5 text-gray-800 mt-4">
              $1550
            </p>
            <p class="font-normal dark:text-gray-300 text-base leading-4 text-gray-600 mt-4">
              2 colours
            </p>
          </div>
        ))
      }
    </div>
  </div>

</div>
