---
import type { Category } from "@interfaces/category";
import type { Page } from "@interfaces/page";
import type { Product } from "@interfaces/product";

interface Props {
  page:Page | Category
  products: Product[]
}

const {page, products } = Astro.props
---
<div class="mx-auto container px-6 xl:px-0 py-12">
  <div class="flex flex-col"> 
      
      <div class="mt-10 grid lg:grid-cols-2 gap-x-8 gap-y-8 items-center">
        {
            products.map(product => (
                <div class="group group-hover:bg-opacity-60 transition duration-500 relative bg-white dark:bg-gray-800 dark:hover:bg-gray-700 sm:p-28 py-36 px-10 flex justify-center items-center">
                      <img class="group-hover:opacity-60 transition duration-500 bg-transparent" src={product.data.thumbnailUrl} alt="sofa-2" />
                      <div class="absolute sm:top-8 top-4 left-4 sm:left-8 flex justify-start items-start flex-col space-y-2">
                          <div>
                              <p class="group-hover:opacity-60 transition duration-500 text-xl leading-5 text-gray-600 dark:text-white">{product.data.name}</p>
                          </div>
                          <div>
                              <p class="group-hover:opacity-60 transition duration-500 text-xl font-semibold leading-5 text-gray-800 dark:text-white">${product.data.price}</p>
                          </div>
                      </div>
                      <div class="group-hover:opacity-60 transition duration-500 absolute bottom-8 right-8 flex justify-start items-start flex-row space-x-2">
                          <button class="bg-white border rounded-full focus:bg-gray-800 border-gray-600 p-1.5"></button>
                          <button class="bg-white border rounded-full focus:bg-gray-800 border-gray-600 p-1.5"></button>
                      </div>
                      <div class="flex flex-col bottom-8 left-8 space-y-4 absolute opacity-0 group-hover:opacity-100 transition duration-500">
                          <button>
                              <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/product-grid-2-svg1.svg" alt="add">
                              <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/product-grid-2-svg1dark.svg
        
        " alt="add">
                          </button>
                          <a href={`/product/details/${product?._id}/${product?.slug}`}>
                              <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/product-grid-2-svg2.svg" alt="view">
                              <img class="hidden dark:block" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/product-grid-2-svg2dark.svg" alt="view">
                          </a>
                          <button>
                              <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/product-grid-2-svg3.svg" alt="like">
                              <img class="hidden dark:block" src="
        https://tuk-cdn.s3.amazonaws.com/can-uploader/product-grid-2-svg3dark.svg" alt="like" />
                          </button>
                      </div>
                  </div>
            ))
        }  

         
      </div>
      
  </div>
</div>

<style>
      
</style>