---
import Layout from "../../../layouts/Layout.astro";
import { type, uid, url, v } from "../../../utils/const";
import { getPaths } from "../../../utils/function";
import ListProductW from "../../../components/ListProductW.astro";
import PaginationStore from "../../../components/PaginationStore.astro";
import type { Product } from "@interfaces/product";
import type { Category } from "@interfaces/category";
import type { Page } from "@interfaces/pagination";
export const prerender = true;

const params = Astro.params

const category: Category = await fetch(
	`${url}/api/${v}/${type}/query/categories/category/${params.id}`
).then((response) => response.json());


export async function getStaticPaths({paginate}:any) {
  function eliminarDuplicados(array:string[]) {
    return [...new Set(array)];
  }
  
  const products: Product[] = await fetch(
	`${url}/api/${v}/${type}/query/products/product/siteId?id=${uid}`
).then((response) => response.json());

  const ids = products.map(data => (data.parentId))
  const idss = eliminarDuplicados(ids)
  // console.log('idss', idss)
  return idss.map((id) => {
    const filteredProducts = products.filter((post) => post.parentId === id);
    return paginate(filteredProducts, {
      params: { id },
      pageSize: 8
    });
  });
  // Generate pages from our array of astronauts, with 2 to a page
  // return paginate(products, { params: {} pageSize: 2 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
// console.log('page', page)
---
<Layout
	title={category.data.name}
	description={category.data.description}
  ogImage={category.data.thumbnailUrl}
>
<ListProductW page={category} products={page.data}/>
<PaginationStore page={page} />
<!-- 
<h1>Page {page.currentPage}</h1>
<ul>
  {page.data.map((data) => <li>{data._id}</li>)}
</ul>

{page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
{page.url.next ? <a href={page.url.next}>Next</a> : null} -->
</Layout>
