---
export const prerender = true;

import Layout from '../../../../../layouts/Layout.astro';
import { url, v, uid, type } from "../../../../../utils/const";
// import {ProductOverviewsW0} from '../../../../../components/react/ProductOverviewsW0';
import {ProductOverviewsB0} from '../../../../../components/react/ProductOverviewsB0';
import { ProductOverviewsH0 } from '../../../../../components/react/ProductOverviewsH0';
import  ProductOverviewsW0  from '../../../../../components/ProductOverviewsW0.astro';
import type { Product } from "../../../../../interfaces/product";
import Main from '../../../../../layouts/Main.astro';
import Breadcrumbs from '../../../../../components/Breadcrumbs.astro';
import ArticleContent from '../../../../../components/ArticleContent.astro';
import ArticleContentF from '../../../../../components/ArticleContentF.astro';
import ListRecommendedProducts from '../../../../../components/ListRecommendedProducts.astro';
import { Article } from '../../../../../interfaces/article';

// export const prerender = true;

export async function getStaticPaths() {
  const articles:Article[] = await fetch(
    `${url}/api/${v}/${type}/query/articles/article/siteId?id=${uid}`
    ).then((response) => response.json());
  
    return articles.map((article) => ({ params: {  id: article._id, slug: article.slug }, props: {article}}));
}
const { article } = Astro.props;


// const product = await fetch(
//   `${url}/api/${v}/${type}/query/products/${params.id}`
// ).then((response) => response.json());


---
<Layout title={article.data.name} description={article.data.description} ogImage={article.data.thumbnailUrl}>
	<Breadcrumbs paths={article.data.tags}/>
	<Main pageTitle={article.data.name}>
		<!-- <ProductOverviewsH0 product={article} client:load /> -->
		<!-- <ListRecommendedProducts parentId={product.parentId} /> -->
		{
			type.includes("furniture") && (
				// <ListProductF0 page={category} products={page.data}/>
				<ArticleContentF article={article} />
			)
		}
		<!-- <ProductOverviewsW0 product={product} /> -->
		<!-- <ProductOverviewsW0 product={product} client:load /> -->
		<!-- <ProductOverviewsB0 product={product} client:load /> -->
	</Main>
</Layout>