---
export const prerender = true;
import Layout from "../../../../../layouts/Layout.astro";
import { url, v, uid, type } from "../../../../../utils/const";
import type { Category } from "../../../../../interfaces/category";
import ListCategoryW0 from "../../../../../components/ListCategoryW0.astro";
import ListCategoryP0 from "../../../../../components/ListCategoryP0.astro";

export async function getStaticPaths() {


	const categories2: Category[] = await fetch(
		`${url}/api/${v}/${type}/query/categories/2/category/siteId?id=${uid}`
	).then((response) => response.json());


	const categories3: Category[] = await fetch(
		`${url}/api/${v}/${type}/query/categories/3/category/siteId?id=${uid}`
	).then((response) => response.json());

	function getCategories (id: string) {
		return categories3.filter(
			(category) => category.parentId === id
		);
	}
	
	return categories2.filter((page) => page.data.type !== 'product' ).map((category2) => ({
		params: {
			page: category2.data.params.path[0],
			category0: category2.data.params.path[1],
			category1: category2.data.params.path[2],
			category3: category2.data.params.path[4],
		},
		props: { category: category2, categories: getCategories(category2._id) },
	}));
}
const { category, categories } = Astro.props;

if (!category) return Astro.redirect("/404");

---

<Layout
	title={category.data.name}
	description={category.data.description}
	ogImage={category.data.thumbnailUrl}
>
	<main>
		{
			type.includes("portfolio") && (
				<ListCategoryP0 page={category} categories={categories} />
			)
		}
		{
			type.includes('wear') && 
			<ListCategoryW0 page={category} categories={categories} />
		}
	</main>
</Layout>
