---
import { HeaderW0 } from '@components/react/HeaderW0';
import { ShoppingCarts } from '@components/react/ShoppingCarts';
import { ThemeProvider } from 'next-themes'
import "@styles/globals.css";
import type { Site } from '@interfaces/site';
import { type, uid, url, v } from '@utils/const';

export interface Props {
	title: string;
	description?: string;
	ogImage?: string;
}

const { title, description, ogImage } = Astro.props;

const site: Site = await fetch(
  `${url}/api/${v}/${type}/query/sites/${uid}`
).then((response) => response.json());
const navigation = await fetch(
`${url}/api/${v}/${type}/query/pages/page/navigation?siteId=${uid}`
).then((response) => response.json());

console.log('navigation', navigation)
const canonicalURL = new URL(Astro.url.pathname, `https://${site.data.info.website}`);
const socialImageURL = new URL(
	ogImage ? ogImage : "astropaper-og.jpg",
	Astro.url.origin
).href;
// console.log('site', site)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={canonicalURL} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta property="og:description" content={description} />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:image" content={socialImageURL} />
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={socialImageURL} />
	</head>
	<body>
		<ThemeProvider client:load attribute="class" defaultTheme={site.data.theme.light} themes={site.data.theme.themes}>
			<HeaderW0  client:load site={site} navigation={navigation}/>
			<ShoppingCarts client:load />
			<slot />
		</ThemeProvider>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
