---

import { ShoppingCarts } from '@components/react/ShoppingCarts';
import "@styles/globals.css";
import type { Site } from '@interfaces/site';
import { type, uid, url, v } from '@utils/const';
import HeaderP1 from '@components/HeaderP1.astro';
import { HeaderW0 } from '@components/react/HeaderW0';
import HeaderP0 from '@components/HeaderP0.astro';
import Header from '@components/ui/Header.astro';
import { SlideOvers } from '@components/react/SlideOvers';
import { ProductQuickviews } from '@components/react/ProductQuickviews';
import HeaderStore from '@components/HeaderStore.astro';
// import Banners from '@components/Banners.astro';
import { isBannerOpen } from '@stores/ui';
import { Banners } from '@components/react/Banners';
import { AccordionComponent } from '@components/react/RewindUI/AccordionComponent';
import { CardComponent } from '@components/react/RewindUI/CardComponent';
import HeaderMarketing from '@components/astro/header/HeaderMarketing.astro';
import HeaderMarketingS from '@components/svelte/HeaderMarketingS.svelte';
// import HeaderP0 from '@components/HeaderP0.astro';

export interface Props {
	title: string;
	description?: string;
	ogImage?: string;
}

const { title, description, ogImage } = Astro.props;

const site: Site = await fetch(
  `${url}/api/${v}/${type}/query/sites/${uid}`
).then((response) => response.json());
const navigation = await fetch(
`${url}/api/${v}/${type}/query/pages/page/navigation?siteId=${uid}`
).then((response) => response.json());
const pages = await fetch(
	`${url}/api/${v}/${type}/query/pages/page/parentId?id=${uid}`
).then((response) => response.json());
// console.log('navigation', navigation)
const canonicalURL = new URL(Astro.url.pathname, `https://${site.data.info.website}`);
const socialImageURL = new URL(
	ogImage ? ogImage : "astropaper-og.jpg",
	Astro.url.origin
).href;
// console.log('site', site)

---

<!DOCTYPE html>
<html lang="en" class={site.data.theme.light}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={site.data.info.icon} />
		<link rel="canonical" href={canonicalURL} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta property="og:description" content={description} />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:image" content={socialImageURL} />
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={socialImageURL} />
		<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
		<link href="/prism-synthwave84.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

		<script is:inline src="/prism.js"></script>
	</head>
	<body>
			<!-- <CardComponent />
			<AccordionComponent client:load />
			<Banners client:load /> -->
			<!-- <HeaderMarketingS client:load/> -->
			<!-- <HeaderMarketing /> -->
			<HeaderStore site={site} navigation={navigation}/>
			<!-- {
				['bakery','wear', 'hardwarestore'].includes(site.data.type) &&
				<HeaderW0  client:load site={site} navigation={navigation}/>
			} -->
			{
				site.data.type === 'portfolio' &&
				<HeaderP1 site={site} pages={pages} />
			}
			<!-- <HeaderP1 site={site} pages={pages} /> -->
			
			<SlideOvers client:load />
			<ProductQuickviews client:load />
			<ShoppingCarts url={site.data.info.website} client:load />

			<!-- <Pagination /> -->
			<slot />
			
		
	</body>
</html>
<script>
	// const theme = window.localStorage.getItem('theme')
	// console.log('theme', isBannerOpen.get())
</script>