---
import type { Paths } from "@interfaces/page";
import Layout from "./Layout.astro";
import Main from "./Main.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import type { Site } from "@interfaces/site";
import { type, uid, url, v } from '@utils/const';

export interface Props {
  title: string;
  description?: string;
  ogImage?: string
  paths?: Paths[]
}

const { title, description, ogImage, paths } = Astro.props;
---

<Layout title={`${title} `} description={description} ogImage={ogImage}>
  <Breadcrumbs paths={paths} />
  
  <Main pageTitle={title} >
    <slot />
  </Main>
  
</Layout>
