---
import { type, uid, url, v } from '../../utils/const';
import type { Site } from '../../interfaces/site';
import CategoryPreviewsP0 from '../../components/CategoryPreviewsP0.astro';

const site: Site = await fetch(
  `${url}/api/${v}/${type}/query/sites/${uid}`
).then((response) => response.json());


---
{
  site.data.type === 'portfolio' && 
  <h1>Hola</h1>
  // <CategoryPreviewsP0 page={page} categories={categories} />
}